#container-editor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 95vw;
    height: 95vh;
}

#container-editor > div {
    width: 30%;
    min-width: 280px;
    background-color: green;
    border: 2px solid darkgreen;
    border-radius: 5px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-boxs {
    background-color: wheat;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 70vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box {
    background-color: grey;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#container-pop-up {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: 60vw;
    max-height: 70vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: scroll;
}

#container-pop-up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#container-pop-up-buttons > input {
    margin: 10px;
}

.box-id-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
}
